@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.land-grid-polygon-map {
    min-height: 360px;
    border: 1px solid rgb(209 213 219);
    border-radius: 6px;
}

trix-editor.news-content-editor {
    min-height: 450px;
    background-color: rgb(255 255 255);
    padding: 1rem;
}